!!!
%body
  %form{action: '/convert', method: :post, enctype: "multipart/form-data"}
    %p
      %label
        アクセストークン
      %input{type: 'password', name: 'access_token'}
      (
      %a{href: 'https://cloud.google.com/docs/authentication/api-keys?hl=ja&visit_id=637181458485270170-1399720475&rd=1#creating_an_api_key'}
        ここ
      を参考にして取得する)
    %p
      %label
        画像入りzipファイル
      %input{type: 'file', name: 'image_zip', accept: 'application/zip'}
    %p
      %button{type: 'submit'}
        変換